@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");

$primary-font: "Radio Canada", sans-serif;
$secondary-font: "Quicksand", sans-serif;
$primary-color: #000000;
$second-color: #212121;
$terciary-color: white;
$color-4: #fa8320;

* {
  margin: 0;
}

body {
  box-sizing: border-box;
}

.player-detail-section {
  width: 100vw;
  height: 100vh;
  background-color: $primary-color;
  box-sizing: border-box;
  padding: 2rem 10rem;
  .player-detail-content {
    background-color: $second-color;
    height: 100%;
    box-sizing: border-box;
    padding: 2rem;
    h2 {
      padding: 1rem;
      text-align: left;
      font-family: $primary-font;
      color: $terciary-color;
      font-size: 1rem;
    }
    .player-name-section {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 7%;
      background-color: $primary-color;
      padding: 0.2rem;
      gap: 1rem;
      img {
        height: 100%;
      }
      h3 {
        text-align: center;
        padding: 0.8rem 0;
        font-family: $primary-font;
        color: $terciary-color;
        text-transform: uppercase;
        font-size: 1.8rem;
      }
    }
    .player-display-flex {
      height: 80%;
      display: flex;
      flex-direction: row;
      align-items: center;
      .player-detail-left {
        width: 30%;
        height: 100%;
        box-sizing: border-box;
        position: relative;
        padding: 2rem;
        align-items: center;
        img {
          height: 100%;
        }
      }
      .player-detail-right {
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        gap: 3rem;
        .player-detail-text {
          font-family: $secondary-font;
          color: $terciary-color;
          font-size: 1.2rem;
          font-weight: 700;
        }

        .player-detail-info {
          display: flex;
          justify-content: space-around;
          color: $terciary-color;
          font-size: 1.2rem;
          font-family: $secondary-font;
          padding: 0.5rem;
        }
      }
    }
  }
}
