@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");

$primary-font: "Radio Canada", sans-serif;
$secondary-font: "Quicksand", sans-serif;
$primary-color: #000000;
$second-color: #212121;
$terciary-color: white;
$color-4: #fa8320;

* {
  margin: 0;
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}

body {
  box-sizing: border-box;
}

.player-section {
  width: 100vw;
  height: 92vh;
  background-color: $primary-color;
  box-sizing: border-box;
  padding: 2rem 10rem;
  .player-content {
    background-color: $second-color;
    height: 100%;
    box-sizing: border-box;
    padding: 2rem;
    h2 {
      padding: 1rem;
      text-align: left;
      font-family: $primary-font;
      color: $terciary-color;
    }
    .player-carroussel {
      box-sizing: border-box;
      padding: 2rem;
      display: flex;
      align-items: end;
      width: 100%;
      height: 90%;
      .player-flexbox {
        display: flex;
        justify-content: space-around;
        height: 60%;
        width: 100%;
        align-items: center;
        svg {
          background-color: $color-4;
          height: 3rem;
          border-radius: 50%;
          cursor: pointer;
        }
        .card {
          width: var(--card-width);
          height: var(--card-height);
          position: relative;
          display: flex;
          justify-content: center;
          align-items: end;
          perspective: 2500px;
          .player-link {
            position: absolute;
            width: 100%;
            height: 20vw;

            z-index: 999;
          }
          .wrapper {
            box-sizing: border-box;
            padding: 1rem;
            transition: all 0.5s;
            position: absolute;
            width: 100%;
            height: 20vw;
            z-index: -1;
            background-color: white;
          }
          .title {
            width: 100%;
            transition: transform 0.5s;
            font-family: $primary-font;
            background-color: $second-color;
            margin-bottom: 0.5rem;
            text-align: center;
            color: white;
            font-size: 1rem;
            padding: 1rem;
          }
          .cover-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

/*Le hover*/

.card:hover .cover-image {
  opacity: 0.7;
  background-color: #000000;
}
.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
  font-size: xx-large;
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}
