@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");

$primary-font: "Radio Canada", sans-serif;
$secondary-font: "Quicksand", sans-serif;
$primary-color: #000000;
$second-color: #212121;
$terciary-color: white;
$color-4: #fa8320;

* {
  margin: 0;
}

body {
  box-sizing: border-box;
}

.team-section {
  width: 100vw;
  height: 100vh;
  background-color: $primary-color;
  box-sizing: border-box;
  padding: 2rem 10rem;
  .team-content {
    background-color: $second-color;
    height: 100%;
    box-sizing: border-box;
    padding: 2rem;
    h2 {
      padding: 1rem;
      text-align: left;
      font-family: $primary-font;
      color: $terciary-color;
    }
    .conference-section {
      padding: 1rem;
      box-sizing: border-box;
      height: 90%;

      h3 {
        text-align: center;
        background-color: $primary-color;
        padding: 0.8rem;
        font-family: $primary-font;
        color: $terciary-color;
        text-transform: uppercase;
      }
      .conference-flex {
        display: flex;
        justify-content: space-around;
        height: 45%;
        .division-flex {
          text-align: left;
          width: 30%;
          height: 90%;
          h4 {
            font-family: $primary-font;
            color: $terciary-color;
            text-transform: uppercase;
            padding: 0.7rem 0;
            border-bottom: solid lightgrey 0.1rem;
          }
          .team {
            font-family: $primary-font;
            color: $terciary-color;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: solid lightgrey 0.1rem;
            height: 18%;
            .team-flex {
              display: flex;
              align-items: center;
              height: 80%;
              gap: 1rem;
              .team-image {
                height: 100%;
                width: 2.5rem;
                img {
                  height: 100%;
                  width: 100%;
                }
              }
            }
            button {
              background-color: $color-4;
              border: none;
              padding: 0.5rem;
              border-radius: 10%;
              height: 70%;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
